/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-bottom: 50px;
}

img {
	max-width: 100%;
	height: auto;
	width: auto\9;
}

hr.jumbo {
	width: 150px;
}

hr.content {
	width: 50%;
	margin-left: 25%;
	margin-top: 36px;
	margin-bottom: 36px;
  border-color: slategray;
}

.jumbotron {
/*  background-image: url(../images/sleeping-beauty.jpg);*/
  color: white;
/*  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  background-color: rgb(63, 75, 86);
  margin-bottom: 0;
  padding-bottom: 30px;
  text-align: center;
}

.top-padding {
	padding-top: 45px;
}

.subj-img {
	padding-top: 10px;
  padding-bottom: 28px;
}

/* Customize container */
@media (min-width: 768px) {
  .container-narrow {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Supporting marketing content */
.content {
  margin: 40px 0;
}
.content p + h4 {
  margin-top: 28px;
}